<div class="container-fluid">
  <h2>Registration Form</h2>
  <form [formGroup]="regForm">
  <div class="form-group">
    <label>Username</label>
    <input formControlName="username" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Password</label>
    <input formControlName="password" type="password" class="form-control">
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
    <input formControlName="confirmPassword" type="password" class="form-control">
  </div>
    <div formGroupName="address">
    <div class="form-group">
      <label>City</label>
      <input formControlName="city" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Postal Code</label>
      <input type="text" formControlName="postalCode" class="form-control">
    </div>
    </div>
  <button class="btn btn-primary" type="submit">Register</button>
  </form>

  {{regForm.value | json}}
</div>
