<div class="container-fluid">
  <h2>Registration Form</h2>
  <form [formGroup]="regForm">
  <div class="form-group">
    <label>Username</label>
    <input [class.is-invalid]="regForm.get('username').invalid && regForm.get('username').touched"   formControlName="username" type="text" class="form-control">
 <small class="text-danger" *ngIf="regForm.get('username').errors?.minlength && regForm.get('username').touched">Username Should be three</small>
    <small class="text-danger" *ngIf="regForm.get('username').errors?.required && regForm.get('username').touched">Username is required</small>

  </div>

  <div class="form-group">
    <label>Password</label>
    <input formControlName="password" type="password" class="form-control">
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
    <input formControlName="confirmPassword" type="password" class="form-control">
  </div>
    <div formGroupName="address">
    <div class="form-group">
      <label>City</label>
      <input formControlName="city" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Postal Code</label>
      <input type="text" formControlName="postalCode" class="form-control">
    </div>
    </div>
  <button class="btn btn-primary" type="submit">Register</button>
    <button class="btn btn-secondary ml-2" (click)="loadApiData()">Load API Data</button>
  </form>

  {{regForm.value | json}}
</div>
