<router-outlet></router-outlet>
<div class="container-fluid">
  <h1>Bootcamp enrollment form</h1>
  <form>
  <div class="form-group">
    <label for="name">Name</label>
    <input #name="ngModel" [(ngModel)]="userModel.name" type="text" [required]="true"
           name="name" id="name" class="form-control is-invalid" [class.is-invalid]="name.invalid && name.touched">
    <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input [ngModel]="userModel.email" type="text" id="email" name="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input #phone="ngModel" [ngModel]="userModel.phone" type="text" id="phone" name="phone"
           class="form-control" pattern="^\d{10}$" required="" [class.is-invalid]="phone.invalid && phone.touched">
<!--    <smaLL [class.d-none]="phone.valid || phone.untouched">Phone number should be 10 digits and is required</smaLL>-->
 <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
  <smaLL *ngIf="phone.errors.pattern">Phone number should be 10 digits</smaLL>
   <smaLL  *ngIf="phone.errors.required">Phone number is required</smaLL>
 </div>
  </div>

  <div class="form-group">
    <label for="topic">Choose your topic</label>
    <br>
    <select [ngModel]="userModel.topic" id="topic" name="topic" class="custom-select" required [class.is-invalid]="topic.invalid && topic.touched" #topic="ngModel">
      <option *ngFor="let topic of topics">{{topic}}</option>
    </select>
    <small class="text-danger" *ngIf="topic.invalid && topic.touched">Topic is required</small>
  </div>

  <div class="mb-3">
    <label>Time preference</label>
    <div class="form-check">
      <input type="radio" class="form-check-input" [ngModel]="userModel.timePreference" id="morning" name="timePreference" value="morning">
      <label for="morning" class="form-check-label">Morning (9am - 12pm)</label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input"  [ngModel]="userModel.timePreference" id="afternoon" name="timePreference" value="afternoon">
      <label for="afternoon" class="form-check-label">Afternoon (12pm - 3pm)</label>
    </div>
  </div>

  <div class="form-check mb-3">
    <input [ngModel]="userModel.subscribe" type="checkbox" name="subscribe" class="form-check-input">
    <label class="form-check-label">Send me offers</label>
  </div>

  <button class="btn btn-primary">Submit Form</button>
  </form>
</div>
